/* fontes */
@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
/* variáveis */
:root {
  --corPreta: #000;
  --corBranca: #fff;
  --font1: "Passion One", cursive;
  --font2: "Sriracha", cursive;
  --font3: Verdana, Geneva, Tahoma, sans-serif;
}
/* reset */
* {
  font-size: 1em;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body */
body {
  background-color: var(--corBranca);
}
/* header */
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  flex-direction: column;

  background-color: var(--corPreta);
  color: var(--corBranca);
  padding: 2em;
  font-family: var(--font1);
}

header h1 {
  font-variant: small-caps;
  font-size: 6em;
}
header p {
  font-family: var(--font3);
  font-size: 1.2em;
}
header p a {
  font-weight: bolder;
  color: var(--corBranca);
  text-decoration: none;
}
header p a:hover {
  text-decoration: underline;
}
/* main */
main {
}
/* setion geral */
section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding: 1.5em 0.8em;
  font-size: 3em;
  font-family: var(--font2);
}
section.sec-texto p {
  padding-bottom: 2em;
}
section.sec-imagem p {
  padding: 0.5em;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--corBranca);
  display: inline-block;
}
/* section texto */
.sec-texto {
}
/* section img */
section.sec-imagem#img1 {
  background: url(./imagens/background001.jpg) no-repeat center center / cover
    fixed;
}
section.sec-imagem#img2 {
  background: url(./imagens/background002.jpg) no-repeat center center / cover
    fixed;
}
/* footer */
footer {
  text-align: center;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--corPreta);
  color: var(--corBranca);
  padding: 1em;
  font-family: var(--font3);
  font-size: 1.4em;
}
footer p a {
  color: var(--corBranca);
  font-weight: bolder;
  text-decoration: none;
}
footer p a:hover {
  text-decoration: underline;
}
/* responsivo */
/* tablets */
@media (max-width: 768px) {
  header {
    font-size: 0.6em;
  }
  main {
    font-size: 0.4em;
  }
  footer {
    font-size: 0.8em;
  }
  /* mobile L */
}
@media (max-width: 425px) and (max-width: 390px) {
  header,
  main {
    font-size: 0.4em;
  }
}
